  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: crosshair; /*Mouse cursor on the site*/
  }
  
  body {
    padding-top: 25%;
    font-family: sans-serif;
    background-color: #000000;
  }
  
  
  nav {
    background-color: #000000; 
    padding: 30px 70px; 
    text-align: center;
    position: fixed; /* Fixed position on top of the page */
    top: 25vh;
    width: 100%;
    transition: 0.5s; /* Transition effect when scrolling  */
  }
  .nav-links {
    display: flex;
    list-style: none;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* margin-left: 20%; */
  }
  
  .nav-links li .main-links {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0.5px;
    padding: 0 5px;
  }
  
  .push{
    margin-left: 35vh;
  }
  
  
  /*This is for the underline of the nav links*/
  .main-links::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  /*      End for the underline            */
  
  .main-links:hover::after{
    width: 100%;
  }
  
  .content{
    color: #ffffff;
    margin-bottom: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
  }
  
  /*Style for h1 text*/
   h1{
    margin-top: 5vh;
    text-align: center;
    font-size: 58px;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    animation: 3s anim-h1 linear ;
  
  }
  
  @keyframes anim-h1 {
  
  0% {
    opacity: 0; 
    transform: translateY(100%);}
  25% { 
       opacity: 1; 
       transform: translateY(0%);
      }
  50% {
    animation: 2s anim-h1 ease;
    color: white;
    transform: scale(1.2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    /* transform: scale(1.2);
    opacity: 1; */
  }
}
/*    End of h1 style     */
  
  h2{
    text-align: center;
    justify-content: center;
    margin-bottom: 5vh;
    font-family: Papyrus, fantasy;
  }
  
  .paragraph{
    line-height: 1.8;
  }


  .sphere{
    position: relative;
    width: 70vh;
    height: 70vh;
    text-align: center;
    justify-content: center;
    display: block;
    margin: 0 auto;
  }

  
  @media all and (max-width: 950px) {
    
    body{
      padding-top: 0%;
      font-family: sans-serif;
      background-color: #000000;
    }
    h2{
      text-align: center;
      justify-content: center;
      margin-bottom: 5vh;
      font-family: Papyrus, fantasy;
    }
  
    .content{
      padding-top: 40%;
      font-family: sans-serif;
      margin: 5vh;
    }
    
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      height: 10vh;
      position: relative;
      transition: none;
      margin-bottom: 10vh;
    }
  
    .push{
      margin-top: -3vh;
    }
    
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
    .nav-links {
      position: relative;
      background: #000000;
      /* height: 40vh; */
      width: 100%;
      flex-direction: column;
    }
    .nav-links.open {
      position: relative;
      clip-path: view-box;
      height: 15rem;
      width: 100%;
      pointer-events: all;
    }
  
    .nav-links li {
      opacity: 0;
    }
    .nav-links li .main-links {
      font-size: 25px;
    }  
    li.fade {
      opacity: 1;
      transition: 0.5s ease-in-out;
    }
    li{
      padding-bottom: 0%;
      transition: none;
    }

    p{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .sphere{
      position: relative;
      width: 35vh;
      height: 35vh;
      text-align: center;
      justify-content: center;
      display: block;
      margin: 0 auto;
      z-index: -1;
    }

    h1{
      margin-top: 5vh;
      text-align: center;
      font-size: 45px;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 5%;
      animation: 3s anim-h1 linear ;
      z-index: 1;
    
    }

    h2{
      text-align: center;
      justify-content: center;
      margin-bottom: 5vh;
      font-family: Papyrus, fantasy;
    }
  }
 
  p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }


      /*                      About Section                        */

.about-p{
   text-align: center;
   margin: auto;
   padding: 5vh;
   letter-spacing: 1px;
   font-family: sans-serif;
}


       /*                   Bottom Links                   */

.bottom-links{
  display: block;
  position: relative;
  text-align: center;
  font-size: 25px;
  margin-bottom: 5vh;
}
.bottom-links li {
  position: relative;
    font-size: 25px;
    margin: 5vh 1.5vh;
}

.bottom-links li a{
  color: white;
  text-decoration: none;
  letter-spacing: 0.5px;
}

 /*                   Footer                  */
.footer {
    position: relative;
    font-weight: bold;
    margin: auto;
    height: 10vh;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 3vh;
  }    